page-home {
    // map style
    #map {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute!important;
        overflow: hidden!important;
    }
    .currentitem {
        position: fixed;
        opacity: .8;
        top: 12rem;
        left: 0;
        z-index: 103;
        width: 100%;
        height: 50px;
        .item-ios .item-inner {
            background: none;
            padding-right: 10px;
        }
    }
    .hidemap {
        visibility: hidden;
        margin-top: -1000px;
    }
    ion-searchbar {
        position: absolute;
        opacity: .7;
        z-index: 3;
    }
    .switch {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 80%;
        border-radius: 10px;
        text-align: center;
        z-index: 100;
        opacity: .9;
        .active {
            background: #3366CC!important;
            color: #fff;
        }
        .button {
            width: 100px;
            margin: 0;
            padding: 0;
        }
    }
    #search-div {
        position: absolute;
        z-index: 13;
        margin: 2.5% 2% 0 2%;
        width: 96%;
        background-color: white;
        padding: 1%;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
        $control-height: 40px;
        input {
            margin: 0 5% 0 5%;
            border: 0;
            padding: 0;
            float: left;
            height: $control-height;
            width: 60%;
            font-size: 16px;
        }
        button {
            margin: 0;
            width: 15%;
            float: left;
            height: $control-height;
            background-color: white;
            color: #646464;
            font-size: 1.4em;
        }
        #arrow-button, #clear-button {
            display: none;
        }
    }
    
}