<ion-header>
  <ion-fab top left>
    <button ion-fab menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
  </ion-fab>
</ion-header>

<ion-content>
  <ion-fab center bottom>
    <button #openButton id="openButton" ion-fab mini (click)="alertOpen()">
			<ion-icon name="alert"></ion-icon>
		</button>
  </ion-fab>

  <ion-card class="keypad" style="vertical-align: middle;">
    <ion-card-header>
      Enter code to disarm
    </ion-card-header>

    <ion-row>
      <ion-col></ion-col>
      <ion-col #keyPadStatus id="keyPadStatus">

      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-grid>
        <ion-row *ngFor="let row of [0, 3, 6]">
          <ion-col *ngFor="let col of [1 + row, 2 + row, 3 + row]">
            <button ion-button full large color="light" (click)="sendKey(col)">{{col}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-card>

  <ion-footer>
    <button #alertButton id="alertButton" ion-button full large bottom class="invisible" (touchstart)="alert_start($event)" (touchend)="alert_end($event)">Idle</button>
  </ion-footer>

  <div class="map">
    <div id="map" #map class="invisible"></div>
  </div>
</ion-content>
