page-contact {
	.toolbar-background{
		background-color: #6fa8dc;
	}

	.toolbar-title{
		color: #FFFFFF;
	}

	#submitButton{
		background-color: #6fa8dc;
	}

	.item-block{
		font-size: 12px;
		text-align: center;
	}
	.item{
		padding: 0px;
	}
}

//light blue 6fa8dc
//dark blue 0b5394
